@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&display=swap');

$bg-white : #fff;
$bg-gray : #eee;
$bg-footer : #444;
$box-shadow : #0000002c;

%section-padding {
    padding: 100px 20%;

    @media (max-width: 1280px) {
        padding: 80px 10%;
    }
    @media (max-width: 768px) {
        padding: 80px 5%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #eee;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.section-title {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 10px;
    letter-spacing: 0.15rem;

    &-description {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }
}


/* ===== Header ===== */
/* ===== End Header ===== */


/* ====== Hero Section ====== */
#hero {
    background-image: url(./images/dormitory-top.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: $bg-white;
        opacity: 0;
        z-index: -1;
    }
    
    .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }

    .container {
        min-height: 50vh;
    }
    
    h1 {
        display: block;
        width: fit-content;
        font-size: 5rem;
        font-weight: 900;
        position: relative;
        color: black;
        text-shadow: 1px 4px 3px #fff;
    }
}
/* ====== End Hero Section ====== */


/* ====== About Section ====== */
#about {
    background: $bg-white;
    .about {
        &-top {
            max-width: 500px;
        }
        &-bottom {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 20px;
            
            @media (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &-img {
            margin: 0 auto;
            margin-bottom: 10px;
            
            @media (min-width:601px) {
                width: 70%;
            }
            // Tablet
            @media (min-width:768px) {
                width: 50%;
            }
            // Desktop
            @media (min-width:1200px) {
                width: 40%;
            }   
        }

        &-text {
            text-align: left;
            font-size: 1.5rem;
            font-weight: 500;
            text-indent: 1rem;
            // Tablet
            @media (min-width:768px) {
                font-size: 1.75rem;
                padding: 20px;
                width: 50%;
            }
            // Desktop
            @media (min-width:1200px) {
                font-size: 2rem;
            }
        }
    }
}
/* ====== End About Section ====== */


/* ====== FAQ Section ====== */
#faq {
    .faq {
        flex-direction: column;
        @extend %section-padding;
        &-top {
            max-width: 500px;
        }
        &-bottom {
            max-width: 1000px;
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
        &-item {
            max-width: 1200px;
            background: $bg-white;
            box-shadow: 7.5px 7.5px 5px $box-shadow;
            transition: 0.5s ease box-shadow;
            border-radius: 10px;
            padding: 15px 50px;
            margin: 10px;
            cursor: pointer;
            &-text {
                text-align: left;
                font-size: 3rem;
                font-weight: 500;
                padding: 5px 10px;

                @media (min-width:768px) {
                    font-size: 2.1rem;
                    padding: 20px 10px;
                }
                @media (min-width:1200px) {
                    font-size: 2.1rem;
                }
            }

            &:hover {
                box-shadow: 0 0 18px 0 $box-shadow;
                // .faq-item-contents-img {
                //     transform: rotate(180deg);
                // }
                // .faq-item-answer {
                //     display: block;
                // }
            }

            &-contents {
                display: flex;
                align-items: center;
                justify-content: center;
                &-img {
                    display: block;
                    padding-top: 7px;
                    transform: rotate(0);
                    transform-origin: center;
                    transition: transform 0.4s ease;
                    &.active {
                        transform: rotate(180deg);
                    }
                }
            }

            &-answer {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
    }
}
/* ====== End FAQ Section ====== */


/* ====== Footer====== */
footer {
    padding: 25px 0;
    text-align: center;
    background: $bg-footer;

    small {
        color: #fff;
        font-size: 14px;
        line-height: 1;
    }
}
/* ====== End Footer ====== */