@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.section-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 10px;
  letter-spacing: 0.15rem;
}
.section-title-description {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

/* ====== Hero Section ====== */
#hero {
  background-image: url(./images/departments_top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
}
@media (max-width: 1000px) {
  #hero::after {
    opacity: 0.4;
  }
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero .container {
  min-height: 50vh;
}
#hero h1 {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5rem;
  font-weight: 900;
  position: relative;
  color: black;
  text-shadow: 1px 4px 3px #fff;
}

/* ====== End Hero Section ====== */
/* ====== About Section ====== */
#about {
  background: #fff;
}
#about .about-top {
  max-width: 500px;
}
#about .about-bottom {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
@media (min-width: 768px) {
  #about .about-bottom {
    display: flex;
    flex-wrap: wrap;
  }
}
#about .about-img {
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  #about .about-img {
    width: 80%;
  }
}
@media (min-width: 601px) {
  #about .about-img {
    width: 70%;
  }
}
@media (min-width: 768px) {
  #about .about-img {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #about .about-img {
    width: 40%;
  }
}
#about .about-text {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  text-indent: 1rem;
}
@media (min-width: 768px) {
  #about .about-text {
    font-size: 1.75rem;
    padding: 20px;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #about .about-text {
    font-size: 2rem;
  }
}

/* ====== End About Section ====== */
/* ====== Article Section ====== */
#article .article {
  flex-direction: column;
  margin: 70px 0;
}
#article .article-top {
  max-width: 500px;
}
#article .article-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #article .article-bottom {
    flex-basis: 45%;
    margin: 2.5%;
  }
}
@media (min-width: 1200px) {
  #article .article-bottom {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
#article .article-img {
  height: 20rem;
  display: flex;
  overflow: hidden;
  position: relative;
}
#article .article-img img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
#article .article-item {
  flex-basis: 80%;
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 13px;
  padding-bottom: 20px;
  margin: 3%;
  background-size: cover;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1725490196);
  transition: 0.3s ease box-shadow;
  overflow: hidden;
}
@media (min-width: 600px) {
  #article .article-item {
    flex-basis: 65%;
  }
}
@media (min-width: 768px) {
  #article .article-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
}
@media (min-width: 1200px) {
  #article .article-item {
    flex-basis: 30%;
    margin: 1.5%;
  }
}
#article .article-item h2 {
  padding: 5px 20px;
  font-size: 2.4rem;
  font-weight: 700;
}
#article .article-item span {
  padding: 0 2px;
  font-size: 1.6rem;
  font-weight: 700;
}
#article .article-item p {
  padding: 0 20px;
  font-size: 1.6rem;
  font-weight: 300;
  text-indent: 1rem;
  text-align: left;
}
#article .article-item:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1725490196);
}
#article .article-item:hover .article-img img {
  transform: scale(1.1);
}

/* ====== Footer====== */
footer {
  padding: 25px 0;
  text-align: center;
  background: #444;
}
footer small {
  color: #fff;
  font-size: 14px;
  line-height: 1;
}

/* ====== End Footer ====== *//*# sourceMappingURL=style.css.map */